# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.venv/

# Build files
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDE specific files
.vscode/
.idea/

# Miscellaneous
*.pyo
*.pyd
*.class
